@charset "UTF-8";

/* 基础样式 */
html, body {
    color: #404040;
    background-color: #ffffff;
}

body, form, ul, ol, table, input, button, p, h1, h2, h3, h4, h5, h6, blockquote, pre, dl, dt, dd, div, span, b, i {
    margin: 0;
    padding: 0;
}

body {
    color: #222222;
    background-color: #ffffff;
    font-size: 13px;
    word-wrap: break-word;
    line-height: 1em
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

tr {
    page-break-inside: avoid;
}

img {
    border: 0;
    vertical-align: top
}

a {
    color: #136ec2;
    text-decoration: none;
    outline: 0
}

a[data-href] {
    cursor: pointer
}

a:active {
    background-color: transparent
}

.book-content {
    line-height: 1.7em;
    font-size: 13px;
    padding: 1em 0;
}

.book-content h1 {
    font-size: 2.25em;
    line-height: 1.2;
}

.book-content h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eeeeee
}

.book-content h3 {
    font-size: 1.5em;
    line-height: 1.43
}

.book-content h4 {
    font-size: 1.25em
}

.book-content h5 {
    font-size: 1em
}

.book-content h6 {
    font-size: 1em;
    color: #777777
}

.book-content br {
    display: block;
    margin: .2em;
}

.book-content hr {
    border: 0;
    border-bottom: 1px solid #dddddd;
}

.book-content ul {
    padding-left: 28px;
}

.book-content ol {
    padding-left: 28px;
}

.book-content h1,
.book-content h2,
.book-content h3,
.book-content h4,
.book-content h5,
.book-content h6,
.book-content p,
.book-content ul,
.book-content ol,
.book-content blockquote,
.book-content pre,
.book-content table {
    margin-bottom: 14px;
}

.book-content code {
    display: inline-block;
    border-radius: 4px;
    padding: 0 .4em;
    background-color: #f7f7f7;
    word-break: break-all;
    white-space: pre;
    line-height: 1.3;
}

.book-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    white-space: normal;
}

.book-content pre > code {
    display: inline;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 100%;
    white-space: pre;
}

.book-content table {
    border-collapse: collapse;
    table-layout: fixed;
}

.book-content th {
    text-align: left;
}

.book-content th, .book-content td {
    border: 1px solid #888888;
    padding: 3px 12px;
}

.book-content tr:hover td {
    background-color: #f1f1f1;
}

.book-content tr:first-child td:first-child {
    border-top-left-radius: 3px;
}

.book-content tr:first-child td:last-child {
    border-top-right-radius: 3px;
}

.book-content tr:last-child td:last-child {
    border-bottom-left-radius: 3px;
}

.book-content tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.book-content img {
    max-width: 100%;
}

.book-content table pre {
    margin-bottom: 0;
}

.book-content table p {
    margin: 0;
}

.book-content blockquote {
    padding: 5px 5px 5px 15px;
    color: #777777;
    border-left: 4px solid #dddddd;
}

.book-content blockquote.info {
    border-left-color: #5bc0de;
    color: #5bc0de;
    background-color: #f4f8fa;
}

.book-content blockquote.warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.book-content blockquote.danger {
    color: #d9534f;
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.book-content blockquote.success {
    background-color: #f3f8f3;
    border-color: #50af51;
    color: #50af51;
}

.book-content blockquote > :last-child {
    margin-bottom: 0;
}

.book-content blockquote ul, .book-content blockquote ol, .book-content blockquote h1, .book-content blockquote h2, .book-content blockquote h3, .book-content blockquote h4, .book-content blockquote h5, .book-content blockquote h6, .book-content blockquote p, .book-content blockquote ul, .book-content blockquote ol {
    margin: .4em 0;
}